<div class="header">
  <%= image_tag('cat.png') %>
  <h1>Nera Technology</h1>
</div>
<div class="content">
  <%= form_for :download_excel, url: download_excel_path, format: :xlsx do |f| %>
    <label id="files-label" for="files"><%= image_tag('files.png') %></label>
    <%= f.file_field :files, multiple: true, id: "files" %>
    <%= f.submit %>
  <% end %>
</div>
